<index-header></index-header>

<section>
  <div class="container">
    <div class="centralizer-text">
      <h1>Clube do Ensino</h1>
    </div>
    <div class="box-border-complete">
      <div class="center-spacing">
        <div class="box-border-index">
          <h2>Seja Bem Vindo!</h2>
          <p>Boas vindas ao site Clube do ensino! Nosso foco é ensinar, voce aluno, de maneira rapida e prática, o funcionamento dos softwares do pacote office (WORD, EXCEL e POWER POINT).</p>
        </div>
        <div class="image-reduction">
          <img src="./imagens/ok.gif">
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="margin-space">
      <div>
        <h1>Cursos</h1>
      </div>
      <div>
        <p>O site será composto por tres modalidades de curso:</p>
        <ul>
          <li><a href="microsftExcel">Microsoft Excel</a></li>
          <li><a href="microsoftPowerPoint">Microsoft Power Point</a></li>
          <li><a href="microsoftWord">Microsoft Word</a></li>
        </ul>
        <p><strong>Microsoft Excel: </strong>O software criado pela microsoft foi desenvolvido com a ideia de auxiliar na organização de projetos financeiros com partes contabilísticas. O software do excel, é um dos mais utilizados nas empresas, por ser completo e cheio de informações, o aprendizado do software, faz com que o crescimento profissional na área seja ainda maior, devido a sua utilização pelas empresas.</p>
        <p><strong>Microsoft Power Point: </strong>O software do Power Point desenvolvido pela microsoft, a ideia principal deste software é auxiliar em apresentações em geral, desde a parte escolar até a parte profissional. Em conjunto com o desenvolvimento do curso será aplicado a utilização de cores, estilos, imagens e entre outros.</p>
        <p><strong>Microsoft Word: </strong>O Microsoft Word, da mesma maneira dos demais softwares apresentados, tem varias finalidades de utilização, desde a parte escolar com criação de pesquisas, templates, desenvolvimento ABNT quanto na parte profissional, com criação de documentos práticos e rápidos.</p>
      </div>
    </div>
  </div>
</section>

<section class="background-course">
  <div class="container">
    <div>
      <h1>Aprendizado</h1>
      <div class="center-spacing">
        <div>
          <div class="text-center">
            <h6>Microsoft Excel</h6>
          </div>
          <div>
            <img src="./imagens/Excel.png">
          </div>
        </div>
        <div>
          <div class="text-center">
            <h6>Microsoft Power Point</h6>
          </div>
          <div>
            <img src="./imagens/PowerPoint.png">
          </div>
        </div>
        <div>
          <div class="text-center">
            <h6>Microsoft Word</h6>
          </div>
          <div>
            <img src="./imagens/Word.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="margin-space">
      <div>
        <h1>Informações Adicionais</h1>
      </div>
      <div class="information-divider">
        <div>
          <div>
            <h2>Experiência Profissional</h2>
          </div>
          <div>
            <ul>
              <li>Estágiario na faculdade de ensino salesiano (UNISAL);</li>
              <li>Instrutor de informatica PEOPLE - Formação Completa;</li>
              <li>Instrutor de robótica PEOPLE - Formação Completa;</li>
              <li>Desenvolvedor Full Stack - Junior;</li>
            </ul>
          </div>
        </div>
        <div>
          <div>
            <h2>Formações:</h2>
          </div>
          <div>
            <ul>
              <li>Técnico em Eletroeletrônica;</li>
              <li>Ciência da Computação;</li>
            </ul>
          </div>
        </div>
        <div>
          <div>
            <h2>Projetos</h2>
          </div>
          <div>
            <ul>
              <li>Lixeira automatizada para deficiente;</li>
              <li>Site para ensino do Pacote OFFICE;</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer-index></footer-index>
