<footer>
  <div class="container">
    <div class="center-spacing">
      <div class="box-spacing">
        <h6>Site desenvolvido por:</h6>
        <p>Thiago Oliveira Depizzol</p>
        <h6>Tester:</h6>
        <p>Nathália Rodrigues Novais</p>
      </div>
      <div class="box-spacing">
        <h6>Contato:</h6>
        <p>(19) 9 9239 - 4812</p>
        <h6>E-Mail:</h6>
        <p><a href="mthiagodepizzol@hotmail.com">thiagodepizzol@hotmail.com</a></p>
      </div>
    </div>
  </div>
</footer>

