footer {
  background-color: #040404c4;
  color: white;
  margin-top: 15px;
}

.background-course{
  background: #ddf0f1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.center-spacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-spacing{
  margin: 20px;
}
